*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, sans-serif;
    box-sizing: border-box;
}


body {
  background-color: black;
  color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
  font-weight: 400;
  justify-content: center;
}

.naming {
  margin-top: 8vh;
  padding-bottom: 10vh;
  max-width: 700px;
}

.naming h4{
  font-size: 30px;
  padding-bottom: 3vh;
  text-align: center;
}

.naming p {
  font-size: 15px;

  text-align: justify;
}


.category{
  margin-top: 5vh;
  margin-left: 5%;
}

.category h5{
  font-size: 20px;
  color: rgb(185, 185, 185);
}




li{
  padding-top: 1vh;
  color: rgb(170, 170, 170);
  font-size: 14px;
}
li a{
  color: white;
  font-size: 15px;
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  font-weight: 800;
}

.container{
  margin-bottom: 10vh;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    width: 100%;
    justify-content: center;
}


.links{
  font-size: 15px;
  color: rgb(151, 151, 151);
}

a:hover {
  font-size: 15.1px;
  color: rgb(209, 253, 255);
}